<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facial Image Regeneration</title>
    <link rel="stylesheet" href="/stylesheets/front.css">
</head>
<body>
    <div class="header">
        <h1 align="center">Department of Information Science and Engineering</h1>
        <h3 align="center">4<sup>th</sup> semester</h3>
        <img src="/front_images/logo.png"  height="120" width="120" alt="College logo" >
    </div>
    
    <h1 class="fr">Facial Image Reconstruction</h1>
    
    <div class="content">
        <p>The following project reconstructs distorted facial images . Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque officiis recusandae nemo perspiciatis totam facere voluptatem laboriosam sunt perferendis doloribus, expedita ex possimus? Quasi harum inventore voluptates delectus et cumque. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi placeat quod aperiam. Magni corrupti aliquam dolores quas mollitia beatae minima placeat ipsa magnam quis ratione, minus sit vel illo rem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat qui debitis incidunt iure odio quos fugiat animi? A optio blanditiis voluptate debitis magni, sunt libero omnis autem laboriosam quibusdam fugiat.</p>
    </div>
    <div class="linkalign">
        <a href="/index">Proceed</a>
    </div>
</body>
</html>